.env
/beam_retriever-main
/results
/data
*/__pycache__/*

/benchmark/hotpot/__pycache__
/benchmark/musr/__pycache__
/__pycache__
/benchmark/longbench/__pycache__
/LongBench-main
/plots
/benchmark/math/__pycache__
/archived
/DEER-main
